<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <script src="/node_modules/preline/dist/preline.js"></script>
    <script src="/node_modules/socket.io-client/dist/socket.io.min.js"></script>
    <script src="/assets/js/bundle_hotreload.js"></script>
    <script src="/node_modules/clipboard/dist/clipboard.min.js"></script>
    <script src="/node_modules/preline/dist/helper-clipboard.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
</head>